/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

html {
    min-height: 100vh;
    max-width: 100vw;
    font-size: 16px;
}

.Main {
    height: 90vh;
}


.Bookings {
    min-height: 100vh;

    .bookings {
        max-width: 576px;
        margin: 0 auto;
    }
}

.BookCourt {
    min-height: 100vh;
    max-width: 100vw;

    .book-court {
        max-width: 597px;
        margin: 0 auto;
    }
}

.CourtDetails {
    max-width: 597px;
    margin: 0 auto;

    img {
        max-width: 80%;
        border-radius: 20px;
    }
}

.Court {
    max-width: 300px;
    background-color: azure;
    border-radius: 15px;
    -webkit-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

    img {
        width: 40%;
        border-radius: 15px;
    }
}

.CourtTypes {
    min-height: 100vh;
    max-width: 100%;

    .container {
        max-width: 576px;

        .min-height {
            min-height: 4rem;

            .full-height {
                height: 100%;
            }
        }
    }
}

.CourtList {
    max-width: 100%;

    .row {
        max-width: 991px;
        margin: 0 auto;
    }
}

.center-me {
    margin: 0 auto;
}

.full-height {
    height: 100vh;
}

.border-radius {
    border-radius: 1.5rem;
}

.green {
    color: #009688 !important;
}

.border-radius-right {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-right: 1px solid black;
}

.border-radius-left {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-left: 1px solid black;
}

.bg-green {
    color: white;
    background-color: #009688;
    border: 1px solid #009688;

    &:hover {
        text-decoration: none;
        background: white;
        border: 1px solid #009688;
        color: #009688;
    }
}

.bg-clear {
    background-color: white;
    color: #009688;
    border: 1px solid #009688;


    &:hover {
        text-decoration: none;
        background-color: #009688;
        border: 1px solid white;
        color: white !important;
    }
}

.SignUp {
    background-color: #e2f0d3;
    height: 100vh;

    .container {
        max-width: 576px;

        .input {
            border-radius: 1.5rem;
        }
    }
}



button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

.Footer {
    max-width: 100vw;
    background-color: #293a16;
    color: white;

    a {
        color: #cddc39;

        &:hover {
            color: #cddc39;
        }
    }
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.WhyUs {
    img {
        max-width: 100%;
    }
}

.HowItWorks {
    img {
        max-width: 100%;
    }
}

.type-btn {
    border: 1px solid #009688;
    padding: .7rem;
    background: white;
    border-radius: 1rem;
    color: #009688;

    &:hover {
        background: #009688;
        color: white;
        text-decoration: none;
    }
}

.focus-button {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
    background: rgb(129, 179, 70);
    background: linear-gradient(90deg, rgba(129, 179, 70, 1) 18%, rgba(68, 96, 36, 1) 65%, rgba(37, 53, 19, 1) 100%);
    -webkit-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:disabled {
        background: linear-gradient(90deg, rgb(156, 159, 154) 18%, rgb(106, 111, 100) 65%, rgba(37, 53, 19, 1) 100%);
        -webkit-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
        cursor: not-allowed;

        &:hover {
            color: white;
        }
    }

    &:hover {
        text-decoration: none;
        color: azure;
    }
}

.norm-button {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    color: #007367;
    font-weight: bold;
    background: rgb(203, 237, 160);
    background: linear-gradient(90deg, rgba(203, 237, 160, 1) 0%, rgba(177, 230, 116, 1) 83%, rgba(141, 197, 78, 1) 100%);
    -webkit-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 2px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}